*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background: rgb(173,241,255);
    background: radial-gradient(circle, rgba(173,241,255,1) 3%, rgba(72,70,102,1) 100%);
    height: 100vh;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#container {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#container .hover-text {
    opacity: 0;
    width: 300px;
}
#container:hover .hover-text {
    animation: fadeOut 5s ease-in-out 0s 1;
}

.text-container {
    padding: 20px;
}

.text-container ul {
    list-style-type: none;
}

.text-container ul li {
    color: white;
    font-family: sans-serif;
}
.text-container ul li+li {
    margin-top: 6px;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}